* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
}

button {
    display: inline-block;
    width: 260px;
    height: 60px;
    background: transparent linear-gradient(45deg, #00eeff, #ff0077, #00ff0d, #ff7300) no-repeat;
    background-size: 300% 300%;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    animation: gradient 8s linear infinite alternate;
    transition: all 1s ease-in-out;
}

button:hover {
    transition-delay: 0.35s;
    box-shadow: 0 0 10px #00ffea,
    0 0 30px #00ffea,
    0 0 60px #00ffea,
    0 0 90px #00ffea,
    0 0 120px #00ffea;
    transform: scale(1.1) skew(10deg);
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}